@(_helper:com.mnt.core.helper.UIGeneratorHelper)
<td colspan="4" align="center">
  <form id='@("_form_" + _helper.formName)' name="@_helper.formName" action="@_helper.formAction" method="POST" >
    <div class="boxWrapper" style="  ; text-align: center; width: 720px" id="Box6">
      <div id="destination_seleted_div" style=" width: 720px;_width:720px; height: 26px; text-align: left">
        <div class="left_bar1_26px" style="">&nbsp;</div>
        <div class="center_bar1_26px" style="width: 701px; _width:701px">
          <div class="top_bar_titlu" id="" style="">STEP 13 : AREA ATTRACTIONS</div>
        </div>
        <div class="right_bar1_26px" style=""></div>
      </div>
      <div class="vertical_gradient_80px_content_div" style="width:718px;  _width:720px; padding-top: 10px; color: #517194; font-size: 8pt; font-weight: bold;">
        <!-- content-->
        <table cellspacing="0" cellpadding="3" width="100%">
          <tbody>
            <tr>
              <td colspan="4" height="10"></td>
            </tr>
            <tr>
              <td colspan="4" valign="top" align="left" width="100%">
                <font class="normal">Please list Attractions <b>BY NAME</b>
                such as Landmarks, Museums, Nightlife, Shopping and Activities around your hotel. When using the 
                <i>Distance Km/Miles</i> 
                area and you need to use Decimal like 0.5 use Point/Period. 
                </font>
                <table align="center" cellspacing="3" cellpadding="0" border="0">
                  <tbody>
                    <tr>
                      <td>
                      </td>
                      <td align="center">
                        <font class="normalbold" style="color:#2B5B8B">Name</font>
                      </td>
                      <td align="center">
                        <font class="normalbold" style="color:#2B5B8B">Distance</font>
                      </td>
                      <td align="center">
                        <font class="normalbold" style="color:#2B5B8B">Km/Miles</font>
                      </td>
                      <td align="center">
                        <font class="normalbold" style="color:#2B5B8B">Minutes</font>
                      </td>
                    </tr>
                    <tr>
                      <td align="center" valign="middle">
                        <font class="normalbold" style="color:#2B5B8B">*1</font>
                      </td>
                      <td align="center" valign="middle">
                        @FieldGen(_helper,"areaName1")
                      </td>
                      <td align="center" valign="middle">
                        @FieldGen(_helper,"areaDistance1")
                      </td>
                      <td align="center" valign="middle">
                        @FieldGen(_helper,"areaParameter1")
                      </td>
                      <td align="center" valign="middle">
                        @FieldGen(_helper,"areaMinutes1")
                      </td>
                    </tr>
                    <tr>
                      <td align="center" valign="middle">
                        <font class="normalbold" style="color:#2B5B8B">2</font>
                      </td>
                      <td align="center" valign="middle">
                        @FieldGen(_helper,"areaName2")
                      </td>
                      <td align="center" valign="middle">
                        @FieldGen(_helper,"areaDistance2")
                      </td>
                      <td align="center" valign="middle">
                        @FieldGen(_helper,"areaParameter2")
                      </td>
                      <td align="center" valign="middle">
                        @FieldGen(_helper,"areaMinutes2")
                      </td>
                    </tr>
                    <tr>
                      <td align="center" valign="middle">
                        <font class="normalbold" style="color:#2B5B8B">3</font>
                      </td>
                      <td align="center" valign="middle">
                        @FieldGen(_helper,"areaName3")
                      </td>
                      <td align="center" valign="middle">
                        @FieldGen(_helper,"areaDistance3")
                      </td>
                      <td align="center" valign="middle">
                        @FieldGen(_helper,"areaParameter3")
                      </td>
                      <td align="center" valign="middle">
                        @FieldGen(_helper,"areaMinutes3")
                      </td>
                    </tr>
                    <tr>
                      <td align="center" valign="middle">
                        <font class="normalbold" style="color:#2B5B8B">4</font>
                      </td>
                      <td align="center" valign="middle">
                        @FieldGen(_helper,"areaName4")
                      </td>
                      <td align="center" valign="middle">
                        @FieldGen(_helper,"areaDistance4")
                      </td>
                      <td align="center" valign="middle">
                        @FieldGen(_helper,"areaParameter4")
                      </td>
                      <td align="center" valign="middle">
                        @FieldGen(_helper,"areaMinutes4")
                      </td>
                    </tr>
                    <tr>
                      <td align="center" valign="middle">
                        <font class="normalbold" style="color:#2B5B8B">5</font>
                      </td>
                      <td align="center" valign="middle">
                        @FieldGen(_helper,"areaName5")
                      </td>
                      <td align="center" valign="middle">
                        @FieldGen(_helper,"areaDistance5")
                      </td>
                      <td align="center" valign="middle">
                        @FieldGen(_helper,"areaParameter5")
                      </td>
                      <td align="center" valign="middle">
                        @FieldGen(_helper,"areaMinutes5")
                      </td>
                    </tr>
                    <tr>
                      <td align="center" valign="middle">
                        <font class="normalbold" style="color:#2B5B8B">6</font>
                      </td>
                      <td align="center" valign="middle">
                        @FieldGen(_helper,"areaName6")
                      </td>
                      <td align="center" valign="middle">
                        @FieldGen(_helper,"areaDistance6")
                      </td>
                      <td align="center" valign="middle">
                        @FieldGen(_helper,"areaParameter6")
                      </td>
                      <td align="center" valign="middle">
                        @FieldGen(_helper,"areaMinutes6")
                      </td>
                    </tr>
                    <tr>
                      <td align="center" valign="middle">
                        <font class="normalbold" style="color:#2B5B8B">7</font>
                      </td>
                      <td align="center" valign="middle">
                        @FieldGen(_helper,"areaName7")
                      </td>
                      <td align="center" valign="middle">
                        @FieldGen(_helper,"areaDistance7")
                      </td>
                      <td align="center" valign="middle">
                        @FieldGen(_helper,"areaParameter7")
                      </td>
                      <td align="center" valign="middle">
                        @FieldGen(_helper,"areaMinutes7")
                      </td>
                    </tr>
                    <tr>
                      <td align="center" valign="middle">
                        <font class="normalbold" style="color:#2B5B8B">8</font>
                      </td>
                      <td align="center" valign="middle">
                        @FieldGen(_helper,"areaName8")
                      </td>
                      <td align="center" valign="middle">
                        @FieldGen(_helper,"areaDistance8")
                      </td>
                      <td align="center" valign="middle">
                        @FieldGen(_helper,"areaParameter8")
                      </td>
                      <td align="center" valign="middle">
                        @FieldGen(_helper,"areaMinutes8")
                      </td>
                    </tr>
                    <tr>
                      <td align="center" valign="middle">
                        <font class="normalbold" style="color:#2B5B8B">9</font>
                      </td>
                      <td align="center" valign="middle">
                        @FieldGen(_helper,"areaName9")
                      </td>
                      <td align="center" valign="middle">
                        @FieldGen(_helper,"areaDistance9")
                      </td>
                      <td align="center" valign="middle">
                        @FieldGen(_helper,"areaParameter9")
                      </td>
                      <td align="center" valign="middle">
                        @FieldGen(_helper,"areaMinutes9")
                      </td>
                    </tr>
                    <tr>
                      <td align="center" valign="middle">
                        <font class="normalbold" style="color:#2B5B8B">10</font>
                      </td>
                      <td align="center" valign="middle">
                        @FieldGen(_helper,"areaName10")
                      </td>
                      <td align="center" valign="middle">
                        @FieldGen(_helper,"areaDistance10")
                      </td>
                      <td align="center" valign="middle">
                        @FieldGen(_helper,"areaParameter10")
                      </td>
                      <td align="center" valign="middle">
                        @FieldGen(_helper,"areaMinutes10")
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
        <!-- end content-->	
      </div>
      <div class="footer_bottom_wrapper">
        <div class="margin_wrapper" style="float: left; width: 5px;"><img src="http://us.dotwconnect.com/images/new_design/bottom_left_corner_02.gif" alt=""></div>
        <div class="center_wrapper" style="float: left; width: 710px; height: 5px; _height: 6px; border-bottom: 1px solid #A3B6C8; overflow: hidden">&nbsp;</div>
        <div class="margin_wrapper" style="float: left; width: 5px;"><img src="http://us.dotwconnect.com/images/new_design/bottom_right_corner_02.gif" alt=""></div>
      </div>
    </div>
    <input type="submit">
  </form>
</td>