@(_helper:com.mnt.core.helper.UIGeneratorHelper)
<td colspan="4" align="center">
  <form id='@("_form_" + _helper.formName)' name="@_helper.formName" action="@_helper.formAction" method="POST" >
    <div class="boxWrapper" style="  ; text-align: center; width: 720px" id="Box6">
      <div id="destination_seleted_div" style=" width: 720px;_width:720px; height: 26px; text-align: left">
        <div class="left_bar1_26px" style="">&nbsp;</div>
        <div class="center_bar1_26px" style="width: 701px; _width:701px">
          <div class="top_bar_titlu" id="" style="">STEP 5 : HOTEL CONTACT INFORMATION  (THIS WILL NOT BE DISPLAYED TO THE PUBLIC)</div>
        </div>
        <div class="right_bar1_26px" style=""></div>
      </div>
      <div class="vertical_gradient_80px_content_div" style="width:718px;  _width:720px; padding-top: 10px; color: #517194; font-size: 8pt; font-weight: bold;">
        <!-- content-->
        <table cellspacing="0" cellpadding="3" width="100%">
          <tbody>
            <tr>
              <td colspan="4" height="10"></td>
            </tr>
            <tr>
              <td valign="middle" align="right" width="25%">
                <font class="normalbold" style="color:#2B5B8B">*Main Contact Name:</font>
              </td>
              <td valign="middle">
                @FieldGen(_helper,"mainContactName")
              </td>
              <td valign="middle" align="right">
                <font class="normalbold" style="color:#2B5B8B">*Title:</font>
              </td>
              <td valign="middle">
                @FieldGen(_helper,"title")
              </td>
            </tr>
            <tr>
              <td valign="middle" align="right">
                <font class="normalbold" style="color:#2B5B8B">*Salutation:</font>
              </td>
              <td valign="middle">
                @FieldGen(_helper,"salutation")
              </td>
              <td colspan="2"></td>
            </tr>
            <tr>
              <td valign="middle" align="right">
                <font class="normalbold" style="color:#2B5B8B">*Direct Telephone:</font>
              </td>
              <td valign="middle">
                @FieldGen(_helper,"directTelCode")
                <font class="normalbold" style="color:#0079BD;font-size:14px;">-</font>
                @FieldGen(_helper,"directTelNumber")
              </td>
              <td valign="middle" align="right">
                <font class="normal" style="color:#2B5B8B">Direct Fax:</font>
              </td>
              <td valign="middle">
                @FieldGen(_helper,"directFaxCode")
                <font class="normalbold" style="color:#0079BD;font-size:14px;">-</font>
                @FieldGen(_helper,"directFaxNumber")
              </td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td align="left" valign="middle"><font class="normal" style="font-size:9px;font-family:Tahoma,Arial,Verdana,Helvetica;">(City Code) &nbsp; (Number)</font>
              </td>
              <td>&nbsp;</td>
              <td align="left" valign="middle"><font class="normal" style="font-size:9px;font-family:Tahoma,Arial,Verdana,Helvetica;">(City Code) &nbsp; (Number)</font>
              </td>
            </tr>
            <tr>
              <td valign="middle" align="right">
                <font class="normal" style="color:#2B5B8B">Extension:</font>
              </td>
              <td valign="middle">
                @FieldGen(_helper,"extension")
              </td>
              <td valign="middle" align="right">
              </td>
              <td valign="middle">
              </td>
            </tr>
            <tr>
              <td colspan="2" valign="top" align="right">
                <table align="right" cellspacing="3" cellpadding="0">
                  <tbody>
                    <tr>
                      <td align="left">
                        <font class="normalbold" style="color:#2B5B8B">*Direct E-mail:</font>
                      </td>
                    </tr>
                    <tr>
                      <td align="right">
                        @FieldGen(_helper,"directEmail")
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
              <td valign="middle" align="right">
                <font class="normal" style="color:#2B5B8B">Toll Free Tel:</font>
              </td>
              <td valign="middle">
                @FieldGen(_helper,"tollFreeCode")
                <font class="normalbold" style="color:#0079BD;font-size:14px;">-</font>
                @FieldGen(_helper,"tollFreeNumber")
              </td>
            </tr>
            <tr>
              <td colspan="2" align="center" valign="middle"></td>
              <td>&nbsp;</td>
              <td align="left" valign="top">
                <font class="normal" style="font-size:9px;font-family:Tahoma,Arial,Verdana,Helvetica;">(City Code) &nbsp; (Number)</font>
              </td>
            </tr>
            <tr>
              <td colspan="4">
                <hr size="1">
              </td>
            </tr>
            <tr>
              <td colspan="4">
                <font class="normal" style="color: #2B5B8B">
                If the reservation contact is the same as main contact 
                <b>check here</b>: 
                @FieldGen(_helper,"isSameAddress")
                </font>
              </td>
            </tr>
            <tr>
              <td valign="middle" align="right">
                <font class="normalbold" style="color:#2B5B8B">*Reservations Contact Name:</font>
              </td>
              <td valign="middle">
                @FieldGen(_helper,"reservationContactName")
              </td>
              <td valign="middle" align="right" nowrap="">
                <font class="normalbold" style="color:#2B5B8B">*Title:</font>
              </td>
              <td valign="middle">
                @FieldGen(_helper,"reservationtitle")
              </td>
            </tr>
            <tr>
              <td valign="middle" align="right">
                <font class="normalbold" style="color:#2B5B8B">*Direct Telephone:</font>
              </td>
              <td valign="middle">
                @FieldGen(_helper,"reservationDirectTelCode")
                <font class="normalbold" style="color:#0079BD;font-size:14px;">-</font>
                @FieldGen(_helper,"reservationDirectTelNumber")
              </td>
              <td colspan="2" valign="top" align="right">
                <table align="right" cellspacing="3" cellpadding="0">
                  <tbody>
                    <tr>
                      <td align="left">
                        <font class="normalbold" style="color:#2B5B8B">*Direct E-mail:</font>
                      </td>
                    </tr>
                    <tr>
                      <td align="right">
                        @FieldGen(_helper,"reservationDirectEmail")
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td align="left" valign="top">
                <font class="normal" style="font-size:9px;font-family:Tahoma,Arial,Verdana,Helvetica;">(City Code) &nbsp; (Number) </font><font class="normalmare">&nbsp;&nbsp;&nbsp; </font>
              </td>
              <td>&nbsp;</td>
              <td align="left" valign="top">
              </td>
            </tr>
            <tr>
              <td valign="middle" align="right">
                <font class="normal" style="color:#2B5B8B">Extension:</font>
              </td>
              <td valign="middle">
                @FieldGen(_helper,"reservationExtension")
              </td>
              <td valign="middle" align="right">
              </td>
              <td valign="middle">
              </td>
            </tr>
            <tr>
              <td valign="middle" align="right">
                <font class="normalbold" style="color:#2B5B8B">*Reservations Department Telephone:</font>
              </td>
              <td valign="middle">
                @FieldGen(_helper,"reservationDeptDirectTelCode")
                <font class="normalbold" style="color:#0079BD;font-size:14px;">-</font>
                @FieldGen(_helper,"reservationDeptDirectTelNumber")
              </td>
              <td valign="middle" align="right">
                <font class="normalbold" style="color:#2B5B8B">*Reservations Department Fax:</font>
              </td>
              <td valign="middle">
                @FieldGen(_helper,"reservationDeptFaxCode")
                <font class="normalbold" style="color:#0079BD;font-size:14px;">-</font>
                @FieldGen(_helper,"reservationDeptFaxNumber")
              </td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td align="left" valign="top">
                <font class="normal" style="font-size:9px;font-family:Tahoma,Arial,Verdana,Helvetica;">(City Code) &nbsp; (Number)</font>
              </td>
              <td>&nbsp;</td>
              <td align="left" valign="top">
                <font class="normal" style="font-size:9px;font-family:Tahoma,Arial,Verdana,Helvetica;">(City Code) &nbsp; (Number)</font>
              </td>
            </tr>
            <tr>
              <td valign="middle" align="right">
                <font class="normal" style="color:#2B5B8B">Extension:</font>
              </td>
              <td valign="middle">
                @FieldGen(_helper,"reservationDeptExtension")
              </td>
              <td valign="middle" align="right"></td>
              <td valign="middle"></td>
            </tr>
            <tr>
              <td colspan="4">
                <font class="normal">
                DOTW sends all booking information via e-mail.
                If you need a copy via fax, you may choose yes for fax option below, we will be using the Reservations Department Fax number above.
                <br>Please choose:
                </font>
              </td>
            </tr>
            <tr>
              <td valign="middle" align="right">
                <font class="normalbold" style="color:#2B5B8B">&nbsp;&nbsp;&nbsp;&nbsp;*Receive Fax: </font>
              </td>
              <td colspan="3" valign="middle">
                @FieldGen(_helper,"faxRecieve")
                <font class="normal">No (No will stop the copy delivery via fax)</font>
              </td>
            </tr>
          </tbody>
        </table>
        <!-- end content-->	
      </div>
      <div class="footer_bottom_wrapper">
        <div class="margin_wrapper" style="float: left; width: 5px;"><img src="http://us.dotwconnect.com/images/new_design/bottom_left_corner_02.gif" alt=""></div>
        <div class="center_wrapper" style="float: left; width: 710px; height: 5px; _height: 6px; border-bottom: 1px solid #A3B6C8; overflow: hidden">&nbsp;</div>
        <div class="margin_wrapper" style="float: left; width: 5px;"><img src="http://us.dotwconnect.com/images/new_design/bottom_right_corner_02.gif" alt=""></div>
      </div>
    </div>
    <input type ="submit">
  </form>
</td>