@(isEdit:Boolean)

@main("DOTWconnect.com - Connecting Travel Professionals Worldwide : Property Extranet - Define Room Types") {
@menu()
<body>

<div class="div_page">
	<table>
		<tbody>	
			<!-- Section 1 Start -->
			<tr id="room-type-section1"
				data-sectionloader 
			 	data-loaderurl="/room-type-info"
			 	data-server-script="/generateRoomTypeScript"
			 	data-local-script='@routes.Assets.at("htmls/Supplier/profile/general-profile.js")'
			 	data-remote="false"
			 >
			 </tr>
			 	 			<!-- Section 1 End -->
			 	 			
			 	 			
			 	 			<!-- Section 15 End -->
			</tbody>
	 </table>
</div>	

</body>
}
<style>
	.buttonStyle{
		margin-left:64%;
		width: 10%;
		padding-top: 1%;
		padding-bottom: 1%;
	}
</style>
<script>


</script>