<div style="width:220px; float:left;">
      <div>
        <div id="more_search_tools_div" style="width: 220px; height: 26px; text-align: left">
          <div class="left_bar2_26px"></div>
          <div class="center_bar2_26px" style="width: 208px;">
            <div class="top_bar_titlu">				
              ADMINISTRATION AREA
            </div>
          </div>
          <div class="right_bar2_26px" style=""></div>
        </div>
      </div>
      <!-- -->
      <div class="horizontal_gradient_80px_content_div width_220px content_font_color">
        <div id="TheMenu">
          <ul class="menulist" id="listMenuRoot">
            <li>
              <a href="#" target="_blank">
              <font color="#000000">Supplier Agreement</font></a>
            </li>
            <li><a href="/">Hotel Profile</a></li>
            <li style="z-index: 1;">
              <a href="/rooms" class="">
              Room Types</a>
            </li>
            <li><a href="/hotel-images">Manage Hotel Images</a></li>
            <li><a href="/yeild-home">Yield Management</a></li>
            <li><a href="#">Allotment Utilization</a></li>
            <li style="z-index: 1;">
              <a href="/specials" class="">Specials</a>
            </li>
            <li><a href="#">Hotel Reports</a></li>
            <li><a href="/viewPage">View Your Web Page</a></li>
            <li><a href="#">User Guide</a></li>
            <li><a href="#">Confirmed from Allotments</a></li>
            <li><a href="#">Request Bookings</a></li>
            <li><a href="#">Amended Bookings</a></li>
            <li><a href="#">Cancelled Bookings</a></li>
            <li><a href="#">Direct Connect bookings</a></li>
            <li><a href="#">Help Desk</a></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
        </div>
      </div>
      <div style="clear:left;width:220px;position: relative; margin-top: -4px;">
        <div style="float: left;"></div>
        <div style="float: left; width: 210px; height: 5px; _height: 6px; border-bottom: 1px solid #A3B6C8; overflow: hidden"></div>
        <div style="float: left;"></div>
      </div>
    </div>