@(_helper:com.mnt.core.helper.UIGeneratorHelper,root:String,field:String,child:String)
@if(_helper.repeatMap.get(root).repeatMap.get(field).fieldMap.get(child).ctype.name == "control") {
	@_helper.repeatMap.get(root).repeatMap.get(field).fieldMap.get(child).controls.control match {
		case "visibility" => {
			id='@("_field_" + _helper.repeatMap.get(root).repeatMap.get(field).formName +"_" + _helper.repeatMap.get(root).repeatMap.get(field).fieldMap.get(child).name)' class='@_helper.repeatMap.get(root).repeatMap.get(field).fieldMap.get(child).cssClass' @_helper.repeatMap.get(root).repeatMap.get(field).fieldMap.get(child).htmlAttrib data-bind="visible: @for(x <- _helper.repeatMap.get(root).repeatMap.get(field).fieldMap.get(child).controls.agents ){$root.@(root + "()[$parentContext.$index()]." + field + "()")[$index()].@x}"
		}
	}
	
} else {
	@Repeat2UIField(_helper.repeatMap.get(root).repeatMap.get(field).fieldMap.get(child), root, field, _helper.repeatMap.get(root).repeatMap.get(field).formName, "[]")
}
