@(field:com.mnt.core.ui.component.FieldType,_namespace:String,notation:String)


@field.ctype.name match{
		     		case "text" => {
		     			<input type="text" name='@(field.name + notation)' id='@("_field_" + _namespace +"_" + field.name)' class='@field.cssClass' @field.htmlAttrib data-bind="value:@field.name @field.databind">
		     		}
		     		
		     		case "password" => {
		     			<input type="password" name='@(field.name + notation)' id='@("_field_" + _namespace +"_" + field.name)' class='@field.cssClass' @field.htmlAttrib >
		     		}
		     		
		     		case "checkbox" => {
		     			<div data-bind="template: { name: '@field.name-template', foreach: @field.select.seed }"></div>
		     			<script type="text/html" id="@field.name-template">
							<input type="checkbox" name='@(field.name + notation)[]' class='@field.cssClass' @field.htmlAttrib data-bind="value: code , checked: $parent.@field.name">	
							<label data-bind="text: name"> </label>
						</script>
		     		}
		     		
		     		case "radio" => {
		     			<div data-bind="template: { name: '@field.name-template-s', foreach: @field.select.seed }"></div>
		     			<script type="text/html" id="@field.name-template-s">
							<input type="radio" name='@field.name' class='@field.cssClass' @field.htmlAttrib data-bind="value: code , checked: $parent.@field.name">	
							<label data-bind="text: name"> </label>
						</script>
		     		}
		     		
		     		case "file" => {
		     			<input type="file" name='@field.name' id='@("_field_" + _namespace +"_" + field.name)' class='@field.cssClass' @field.htmlAttrib>
		     		}
		     		
		     		case "hidden" => {
		     			<input type="hidden" name='@field.name' id='@("_field_" + _namespace +"_" + field.name)' class='@field.cssClass' @field.htmlAttrib data-bind="value: @field.name">
		     		}
		     		
		     				     		
		     		case "button" => {
		     			<input type="button" name='@field.name' id='@("_field_" + _namespace +"_" + field.name)' class='@field.cssClass' @field.htmlAttrib data-bind="text: @field.name">
		     		}
		     		
		     				     		
		     		case "textarea" => {
		     			<textarea name='@(field.name + notation)' id='@("_field_" + _namespace +"_" + field.name)' class='@field.cssClass' @field.htmlAttrib data-bind="text: @field.name"></textarea>
		     		}
		     		
		     			     		
		     		case "select" => {
		     			@if(field.select != null && !field.select.remote){
		     				<select name='@(field.name + notation)' id='@("_field_" + _namespace +"_" + field.name)' class='@field.cssClass' @field.htmlAttrib data-bind="options: @field.select.seed, optionsText: 'name', optionsValue: 'code' , value:@field.name @field.databind" ></select>
		     			}else{
		     				<select name='@(field.name + notation)' id='@("_field_" + _namespace +"_" + field.name)' class='@field.cssClass' @field.htmlAttrib data-bind="options: @field.select.seed, optionsText: 'name', optionsValue: 'code' , value:@field.name @field.databind" ></select>
		     				<script>
		     					@if(field.select.depends.length != 0){
		     						
		     						$('@for(x <- field.select.depends ){[id=@("_field_" + _namespace +"_" + x)],}[id=nooop]').change(function(){
		     							$.ajax({
		     								url: '@field.select.dataSourceURL',
		     								data: {
		     									@for(x <- field.select.params ){@x:$('#@("_field_" + _namespace +"_" + x)').val(),}
		     								},
		     								dataType:'json',
		     								success:function(resp){
		     									$('#@("_field_" + _namespace +"_" + field.name)').empty();
		     									$.each(resp, function (index, value) {
		     										$('#@("_field_" + _namespace +"_" + field.name)').append('<option value="' + value.code + '" >' + value.name + '</option>');	
		    		        					})
		     								}
		     							})
		     						})
		     					}
		     				</script>
		     			}
		     		}
		     		
		     		case "multiselect" => {
                                   <select multiple='true' name='@(field.name + notation)[]' id='@("_field_" + _namespace +"_" + field.name)' class='@field.cssClass' @field.htmlAttrib data-bind="options: @field.select.seed, optionsText: 'name', optionsValue: 'code',  selectedOptions:@field.name " ></select>
 
                    }
                    
                    case "label" => {
                                   <label id='@("_field_" + _namespace +"_" + field.name)' class='@field.cssClass' @field.htmlAttrib data-bind="text:@field.name" ></label>
 
                    }
                    
                    case "image" => {
                      <img id='@("_field_" + _namespace +"_" + field.name)' class='@field.cssClass' @field.htmlAttrib data-bind="attr:{src:$root.@field.name()}" ></img>
 
                    }
                    
                    case "repeatlabel" => {
                       <ul data-bind="template: { name: '@field.name-template', foreach: @field.name }"></ul>
		     			<script type="text/html" id="@field.name-template">
							<li data-bind="text: $data"> </li>
						</script>
                    }
                    
                   
 	     		
}		     		